.card {
    width: 18rem;
    border-color: #EC3919;
    background-color: black;

    .card-body {
        color: whitesmoke;
        font-size: 12px;
    }

    .card-compra {
        display: flex;
        align-content: space-between;
        justify-content: space-around;
        padding-top: 40px;
        padding-bottom: 40px;
        
    }

    .card-img-top {
        height: 40%;
        width: auto;
}
}
