@use "../utilities/variables.scss";

.accordion-header-mio {
        font-size: 22px;

}

.accordion-item-mio {
 
    color: whitesmoke;

}

.accordion-button-mio {
     
    color: variables.$primary-color;
    border-color: variables.$primary-color;
    border: 2px;
    width: 100%;
    text-align: start;
}
