@use "../utilities/variables.scss";
@use "../utilities/mixins.scss";

body {
    margin: 18px;
    font-family: variables.$font-family-base;
    background-color: black;
    color: variables.$primary-color;
    font-size: variables.$font-size-base;
}

h1 {
    
    font-size: 44px;
    text-decoration: underline;
    text-align: center;
   }

h4 {
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
      }

