@use "../utilities/mixins.scss";

.nav-button {
     height: 30px;
    width: 30px;
    background-color: wheat ;
}

ul
 {
    @include mixins.flex(row, space-around, center);
    gap: 16px; 

    li {
        list-style: none;

      
        .nav-link{
            text-decoration: none;
            color: red;
            &:hover {
                color: whitesmoke;
            }
        }
    }
}

.container-fluid {
    margin-bottom: 48px;
}

.navbar-mio .navbar-toggler {
  margin-left: auto;
}
