.pic-founder {
    width: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 50%;
}

.founder {
    color: violet;
    font-size: 20px;
    text-decoration: wavy;
}


.historia {
       font-size: 22px;
}