@mixin flex ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin imgbody ($height, $max-width) {
   
    height: $height;
    max-width: $max-width;
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
}
