@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: black;
}

/* font-family: "Roboto Condensed", sans-serif; */
.nav-button {
  height: 30px;
  width: 30px;
  background-color: wheat;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
}
ul li {
  list-style: none;
}
ul li .active {
  color: white;
}
ul li .nav-link {
  text-decoration: none;
  color: red;
}
ul li .nav-link:hover {
  color: whitesmoke;
}

.container-fluid {
  margin-bottom: 48px;
}

.navbar-mio .navbar-toggler {
  margin-left: auto;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
  font-size: 10px;
  margin-top: 120px;
}

body {
  margin: 18px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: black;
  color: #EC3919;
  font-size: 18px;
}

h1 {
  font-size: 44px;
  text-decoration: underline;
  text-align: center;
}

h4 {
  font-size: 14px;
  text-align: center;
  padding-bottom: 20px;
}

.img-body {
  height: 100%;
  max-width: 100%;
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
}

.col {
  margin-bottom: 46px;
  margin-top: 12px;
}

.btn-mio {
  display: inline-block;
  text-decoration: none;
  color: whitesmoke;
  border-radius: 8px;
  padding: 8px 14px;
}

.btn-mio {
  background-color: #EC3919;
}
.btn-mio:hover {
  background-color: whitesmoke;
  color: black;
}

.card {
  width: 18rem;
  border-color: #EC3919;
  background-color: black;
}

.btn-mio {
  background-color: #EC3919;
  color: black;
  text-decoration: underline;
  justify-items: end;
}

.card-img-top {
  height: 40%;
  width: auto;
}

.card-compra {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}

.card-title {
  font-size: 22px;
  color: #EC3919;
}

.card-body {
  font-size: 12px;
  color: #EC3919;
}

.pic-founder {
  width: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 50%;
}

.founder {
  color: violet;
  font-size: 20px;
  text-decoration: wavy;
}

.historia {
  font-size: 22px;
}

.img-servicio {
  height: 100%;
  max-width: 100%;
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
}

.row-serv {
  gap: 24px;
  align-items: center;
  border: 2px;
  border-style: solid;
}

.servicio {
  height: auto;
  max-width: 100%;
  text-align: center;
  justify-items: center;
}

.accordion-header-mio {
  font-size: 22px;
}

.accordion-item-mio {
  color: whitesmoke;
}

.accordion-button-mio {
  color: #EC3919;
  border-color: #EC3919;
  border: 2px;
  width: 100%;
  text-align: start;
}

.card {
  width: 18rem;
  border-color: #EC3919;
  background-color: black;
}
.card .card-body {
  color: whitesmoke;
  font-size: 12px;
}
.card .card-compra {
  display: flex;
  align-content: space-between;
  justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 40px;
}
.card .card-img-top {
  height: 40%;
  width: auto;
}

/*# sourceMappingURL=style.css.map */
